.animation-container {
    overflow: inherit;
    text-wrap: wrap;
    position: relative;
    overflow-x: hidden;
    
  }
  
  .animated-div {
    white-space: nowrap;
    animation: badhon 50s linear infinite;
  }
  
  @keyframes badhon {
    0% {
      transform: translateX(100%); /* Change this to '100%' */
    }
    100% {
      transform: translateX(-100%); /* Change this to a negative value */
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* For Firefox */
* {
  scrollbar-width: none;
}
  
  